<%= turbo_frame_tag dom_id card_transaction do %>
  <div class="bg-white w-full p-4 rounded-md mt-2">
    <p class="my-5 text-gray-700">
      <%= l card_transaction.date, format: :long %>
    </p>

    <p class="my-5 text-gray-700">
      <%= card_transaction.description %>
    </p>

    <p class="my-5 text-gray-700">
      <%= from_cent_based_to_float(card_transaction.price) %>
    </p>

    <div class="w-full mt-2 flex flex-wrap border shadow-sm p-2 rounded-md">
      <p class="flex-1 text-center font-bold text-gray-700">Created at: <%= card_transaction.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
<% end %>
