<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="flex space-x-12">
    <div class="flex w-1/4 flex-col my-6">
      <%= render TextFieldComponent.new(form, :entity_id, @entities, type: :select) %>
    </div>
    <div class="flex w-1/4 flex-col my-6">
      <%= render TextFieldComponent.new(form, :price, type: :number) %>
    </div>
    <div class="flex w-1/4 flex-col my-6">
      <%= form.checkbox :is_payer, class: "rounded-sm border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
    </div>

    <%= form.hidden_field :_destroy %>

    <div class="flex w-1/4 flex-col my-6">
      <%= render ButtonComponent.new(options: { label: action_model(:destroy, EntityTransaction), colour: :red, data: { action: "nested-form#remove" } }) %>
    </div>
  </div>
</div>
