<%= turbo_frame_tag dom_id card_transaction do %>

  <% data = { controller: "nested-form form-validate", nested_form_wrapper_selector_value: "#nested-form-wrapper" } %>
  <%= form_with model: card_transaction, id: "form", class: "contents", data: do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :ct_description, options: { autofocus: true } %>
    </div>
    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :ct_comment, options: { type: :textarea } %>
    </div>
    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :date, options: { type: :date } %>
    </div>
    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :user_card_id, items: UserCard.all.pluck(:user_card_name, :id), options: { type: :select } %>
    </div>
    <div class="flex w-full gap-4 mb-6">
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :price %>
      </div>
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :installments_count %>
      </div>
    </div>

    <template data-nested-form-target="template">
      <%= form.fields_for :installments, Installment.new, child_index: "NEW_RECORD" do |installment_fields| %>
        <%= render "installment_fields", form: installment_fields %>
      <% end %>
    </template>

    <%= form.fields_for :installments, Installment.new do |installment_fields| %>
      <%= render "installment_fields", form: installment_fields %>
    <% end %>

    <!-- inserted elements -->
    <div data-nested-form-target='target'></div>

    <%= render ButtonComponent.new(options: { label: action_model(action_name, Installment), colour: :orange, data: { action: "nested-form#add" } }) %>

    <%= render ButtonComponent.new form:, options: { label: "Submit" } %>
  <% end %>
<% end %>
