<%= turbo_frame_tag dom_id card_transaction do %>
  <% colour = :white %>

  <% form_with(
       model: card_transaction, id: 'form',
       class: 'contents text-black',
       html: { data: { controller: 'notice', action: 'submit->notice#clear' } }
  ) do |form| %>

    <%= render 'layouts/shared/errors', object: card_transaction %>


    <div class="flex space-x-12">
      <div class="flex w-2/3 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :description, options: { colour: }) %>
      </div>

      <div class="flex w-1/3 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :date, options: { type: 'date', colour: }) %>
      </div>
    </div>

    <div class="flex space-x-12">
      <div class="flex w-2/3 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :comment, options: { colour: }) %>
      </div>

      <div class="flex w-1/3 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :starting_price, options: { type: 'number', step: 0.01, colour: }) %>
      </div>
    </div>

    <div class="flex space-x-12">
      <div class="flex w-1/4 flex-col gap-6 my-5">
        <%= render AutocompleteSelectComponent.new(form: nil, object: card_transaction, field: :card_id, items: @cards, options: { colour: }) %>
      </div>

      <div class="flex w-1/4 flex-col gap-6 my-5">
        <%= render AutocompleteSelectComponent.new(form: nil, object: card_transaction, field: :entity_id, items: @entities, options: { colour: }) %>
      </div>

      <div class="flex w-1/4 flex-col gap-6 my-5">
        <%= render AutocompleteSelectComponent.new(form: nil, object: card_transaction, field: :category_id, items: @categories, options: { colour: }) %>
      </div>

      <div class="flex w-1/4 flex-col gap-6 my-5">
        <%= render AutocompleteSelectComponent.new(form: nil, object: card_transaction, field: :category2_id, items: @categories, options: { colour: }) %> </div>
    </div>

    <!-- TODO: Only one field that builds up a reference of MonthYear, possibly an AutoSelect, that gets defaulted -->
    <div class="flex space-x-12 justify-center">
      <div class="flex w-1/6 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :month, options: { type: 'number', step: 1, colour: }) %>
      </div>

      <div class="flex w-1/6 flex-col gap-6 my-5">
        <%= render TextFieldComponent.new(form: nil, object: card_transaction, field: :year, options: { type: 'number', step: 1, colour: }) %>
      </div>
    </div>

    <!--
        TODO: Usage of stimulus to get the number of installments through an increment button. Installments nested fields appear

    <div class="flex w-72 flex-col gap-6 my-5">
      <%#= render TextFieldComponent.new(form: nil, object: card_transaction, field: :installment_id, options: { type: 'number', step: 1, colour: }) %>
    </div>

    <div class="flex w-72 flex-col gap-6 my-5">
      <%#= render TextFieldComponent.new(form: nil, object: card_transaction, field: :installments_count, options: { type: 'number', step: 1, colour: }) %>
    </div>
    -->

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
    </div>
  <% end %>
<% end %>
