<%= turbo_frame_tag dom_id card_transaction do %>

  <%= form_with(model: card_transaction, id: "form", class: "contents text-black", data: { controller: "form-validate autosave reactive-form", action: "submit->reactive-form#removeMasks" }) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <% action = form.object.persisted? ? "keyup->autosave#save" : "" %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :ct_description,
            class: autosave_input_class,
            data: { autosave_target: "input", action:, placeholder: "Card Transaction Name", placeholder_type: :word } %>
    </div>

    <div class="w-full mb-6">
      <%= render "shared/svgs/quote" %>
      <%= form.text_area \
            :ct_comment,
            class: "text-gray-500 px-4 pt-4 ps-10 w-full border-1 border-gray-300 rounded-lg focus:ring-transparent focus:outline-none",
            data: { controller: "text-area-autogrow", autosave_target: "input", action:, placeholder: "Any comment about", placeholder_type: :word } %>
    </div>

    <div class="flex w-full gap-8 mb-6">
      <div class="hw-cb w-2/5">
        <%= form.combobox \
              :user_card_id,
              @user_cards,
              render_in: { partial: "user_card" },
              include_blank: false,
              placeholder: "Card",
              data: { reactive_form_target: "input", action: "hw-combobox:selection->reactive-form#requestSubmit", reactive_form_value: ".hw-combobox__input" } %>
      </div>

      <div class="w-1/5">
        <%= render TextFieldComponent.new \
              form, :date,
              id: :card_transaction_date,
              type: :date, svg: :calendar,
              class: "hidden sm:block",
              data: { reactive_form_target: "input", action: "focusout->reactive-form#requestSubmit" } %>

        <%#= tag.div \
               "inline-datepicker": true,
               "datepicker-format": "yyyy/mm/dd",
               data: { controller: :datepicker,
                       datepicker_target: :date,
                       field_id: :card_transaction_date,
                       action: "changeDate->datepicker#updateDate",
                       date: @card_transaction.date.strftime("%Y-%m-%d") } %>
      </div>

      <div class="flex w-2/5 gap-8">
        <div class="w-3/4">
          <%= render TextFieldComponent.new \
                form, :price,
                svg: :money,
                placeholder: "Amount",
                class: "price-input",
                data: { reactive_form_target: "priceInput", action: "input->reactive-form#applyMask input->reactive-form#updateInstallmentsPrices" } %>
        </div>
        <div class="w-1/4">
          <%= render TextFieldComponent.new \
                form, :installments_count,
                type: :number,
                svg: :number,
                min: 1, max: 24,
                value: [ @card_transaction.installments_count, 1 ].max,
                placeholder: "Installments",
                data: { reactive_form_target: "installmentsCountInput", action: "input->reactive-form#updateInstallmentsFields" } %>
        </div>
      </div>
    </div>

    <!-- Installments -->
    <div class="grid grid-cols-6 gap-4" data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :installments, Installment.new, child_index: "NEW_RECORD" do |installment_fields| %>
          <%= render "installment_fields", form: installment_fields %>
        <% end %>
      </template>

      <%= form.fields_for :installments do |installment_fields| %>
        <%= render "installment_fields", form: installment_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target="target"></div>
    </div>

    <!-- Categories -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :category_transactions, CategoryTransaction.new, child_index: "NEW_RECORD" do |category_transaction_fields| %>
          <%= render "category_transaction_fields", form: category_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :category_transactions do |category_transaction_fields| %>
        <%= render "category_transaction_fields", form: category_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, CategoryTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <!-- Entities -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :entity_transactions, EntityTransaction.new, child_index: "NEW_RECORD" do |entity_transaction_fields| %>
          <%= render "entity_transaction_fields", form: entity_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :entity_transactions do |entity_transaction_fields| %>
        <%= render "entity_transaction_fields", form: entity_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, EntityTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <%= render ButtonComponent.new form:, options: { label: "Submit" } %>
    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: "updateButton" } %>
  <% end %>
<% end %>
