<%= turbo_frame_tag dom_id card_transaction do %>

  <% data = { controller: "form-validate autosave" } %>
  <%= form_with(model: card_transaction, id: "form", class: "contents text-black", data:) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="w-full mb-6">
      <% action = form.object.persisted? ? "keyup->autosave#save" : "focus->autosave#clear_placeholder" %>
      <% data = { autosave_target: "input", action:, placeholder: "Card Transaction Name", placeholder_type: :word } %>
      <%= form.text_field :ct_description, data:, class: autosave_input_class %>
    </div>

    <div class="mb-6">
      <%= render "shared/svgs/quote" %>
      <%= form.text_area :ct_comment, data: data.merge(placeholder: "Maybe elaborate with a comment"),
                                      class: "text-gray-500 px-4 ps-10 w-full border-1 border-gray-300 rounded-lg focus:ring-transparent focus:outline-none" %>
    </div>

    <div class="flex w-full gap-4 mb-6">
      <div class="hw-cb w-1/2">
        <%= form.combobox :user_card_id, @user_cards, render_in: { partial: "user_card" }, placeholder: "Card" %>
      </div>
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :date, options: { type: :date, value: Date.today, svg: :calendar } %>
      </div>
    </div>
    <div class="flex w-full gap-4 mb-6">
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :price, options: { type: :number, svg: :money, placeholder: "Amount" } %>
      </div>
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :price, options: { type: :number, svg: :money, placeholder: "Amount" } %>
      </div>
    </div>

    <!-- Installments -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :installments, Installment.new, child_index: "NEW_RECORD" do |installment_fields| %>
          <%= render "installment_fields", form: installment_fields %>
        <% end %>
      </template>

      <%= form.fields_for :installments do |installment_fields| %>
        <%= render "installment_fields", form: installment_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, Installment), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <!-- Categories -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :category_transactions, CategoryTransaction.new, child_index: "NEW_RECORD" do |category_transaction_fields| %>
          <%= render "category_transaction_fields", form: category_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :category_transactions do |category_transaction_fields| %>
        <%= render "category_transaction_fields", form: category_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, CategoryTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <!-- Entities -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :entity_transactions, EntityTransaction.new, child_index: "NEW_RECORD" do |entity_transaction_fields| %>
          <%= render "entity_transaction_fields", form: entity_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :entity_transactions do |entity_transaction_fields| %>
        <%= render "entity_transaction_fields", form: entity_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, EntityTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <%= render ButtonComponent.new form:, options: { label: "Submit" } %>
  <% end %>
<% end %>
