<%= turbo_frame_tag dom_id card_transaction do %>

  <%= form_with model: card_transaction, id: "form", class: "contents text-black", data: { controller: "form-validate" } do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :ct_description, options: { autofocus: true } %>
    </div>
    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :ct_comment, options: { type: :textarea } %>
    </div>
    <div class="w-full mb-6">
      <%= render TextFieldComponent.new form:, field: :user_card_id, items: @user_cards, options: { type: :select } %>
    </div>
    <div class="flex w-full gap-4 mb-6">
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :price %>
      </div>
      <div class="w-1/2">
        <%= render TextFieldComponent.new form:, field: :date, options: { type: :date, value: Date.today } %>
      </div>
    </div>

    <!-- Installments -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :installments, CardTransaction.new, child_index: "NEW_RECORD" do |installment_fields| %>
          <%= render "installment_fields", form: installment_fields %>
        <% end %>
      </template>

      <%= form.fields_for :installments do |installment_fields| %>
        <%= render "installment_fields", form: installment_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, Installment), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <!-- Categories -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :category_transactions, CategoryTransaction.new, child_index: "NEW_RECORD" do |category_transaction_fields| %>
          <%= render "category_transaction_fields", form: category_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :category_transactions do |category_transaction_fields| %>
        <%= render "category_transaction_fields", form: category_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, CategoryTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <!-- Entities -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :entity_transactions, EntityTransaction.new, child_index: "NEW_RECORD" do |entity_transaction_fields| %>
          <%= render "entity_transaction_fields", form: entity_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :entity_transactions do |entity_transaction_fields| %>
        <%= render "entity_transaction_fields", form: entity_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, EntityTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <%= render ButtonComponent.new form:, options: { label: "Submit" } %>
  <% end %>
<% end %>
