<%= turbo_frame_tag dom_id card_transaction do %>

  <%= form_with(model: card_transaction, id: :form, class: "contents text-black", data: { controller: "form-validate autosave reactive-form", action: "submit->reactive-form#removeMasks" }) do |form| %>
    <%= form.hidden_field :user_id, value: @user.id %>
    <%= hidden_field_tag :closing_date_day, card_transaction&.user_card&.current_closing_date&.day, data: { reactive_form_target: :closingDateDay } %>
    <%= hidden_field_tag :days_until_due_date, card_transaction&.user_card&.days_until_due_date, data: { reactive_form_target: :daysUntilDueDate } %>

    <% action = form.object.persisted? ? "keyup->autosave#save" : "" %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :ct_description,
            class: autosave_input_class, autofocus: true, autocomplete: :off,
            data: { autosave_target: :input, action:, placeholder: "Card Transaction Name", placeholder_type: :word } %>
    </div>

    <div class="w-full mb-6">
      <%= render "shared/svgs/quote" %>
      <%= form.text_area \
            :ct_comment,
            class: "text-gray-500 px-4 pt-4 ps-9 w-full border-1 border-gray-400 shadow-lg rounded-lg focus:ring-transparent focus:outline-none caret-transparent",
            data: { controller: "text-area-autogrow", autosave_target: :input, action:, placeholder: "Any comment about", placeholder_type: :word } %>
    </div>

    <div class="lg:flex lg:gap-8 w-full mb-3">
      <div class="hw-cb w-full lg:w-2/5 mb-3">
        <%= form.combobox \
              :user_card_id,
              @user_cards,
              mobile_at: "360px",
              render_in: { partial: "user_card" },
              include_blank: false,
              placeholder: "Card",
              data: { reactive_form_target: :input, action: "hw-combobox:selection->reactive-form#requestSubmit", value: ".hw-combobox__input" } %>
      </div>

      <div class="w-full lg:w-1/5 mb-3 lg:mb-0">
        <%= render TextFieldComponent.new \
              form, :date,
              id: :card_transaction_date,
              type: :date, svg: :calendar,
              class: "font-graduate",
              data: { reactive_form_target: :dateInput, action: "change->reactive-form#updateInstallmentsDates" } %>
      </div>

      <div class="flex lg:w-2/5 gap-8 lg:gap-4">
        <div class="w-1/2 lg:w-3/4 mb-3 lg:mb-0">
          <%= render TextFieldComponent.new \
                form, :price,
                svg: :money,
                placeholder: "Amount",
                class: "font-graduate",
                data: { reactive_form_target: :priceInput, action: "input->reactive-form#applyMask input->reactive-form#updateInstallmentsPrices" } %>
        </div>

        <div class="w-1/2 lg:w-1/4">
          <%= render TextFieldComponent.new \
                form, :installments_count,
                type: :number,
                svg: :number,
                min: 1, max: 72,
                value: [ @card_transaction.installments.size, @card_transaction.installments_count, 1 ].max,
                class: "font-graduate",
                placeholder: "Installments",
                data: { reactive_form_target: :installmentsCountInput, action: "input->reactive-form#updateInstallmentsPrices" } %>
        </div>
      </div>
    </div>

    <!-- Installments -->
    <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper"
         class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-3 pb-4" >
      <template data-nested-form-target="template">
        <%= form.fields_for :installments, Installment.new, child_index: "NEW_RECORD" do |installment_fields| %>
          <%= render "installment_fields", form: installment_fields %>
        <% end %>
      </template>

      <%= form.fields_for :installments do |installment_fields| %>
        <%= render "installment_fields", form: installment_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target="target"></div>

      <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: :addInstallment, action: "nested-form#add" } %>
    </div>

    <!-- Categories -->
    <div class="w-full mb-6">
      <%= form.combobox \
            :category_transaction,
            @categories,
            mobile_at: "360px",
            include_blank: false,
            placeholder: "Category",
            data: { action: "hw-combobox:selection->reactive-form#insertChip", value: ".hw-combobox__input" } %>
    </div>

    <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper" class="flex justify-center pb-4" >
      <template data-nested-form-target="template">
        <%= form.fields_for :category_transactions, CategoryTransaction.new, child_index: "NEW_RECORD" do |category_transaction_fields| %>
          <%= render "category_transaction_fields", form: category_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :category_transactions do |category_transaction_fields| %>
        <%= render "category_transaction_fields", form: category_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: :addCategory, action: "nested-form#add" } %>
    </div>

    <!-- Entities -->
    <div data-controller='nested-form' data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :entity_transactions, EntityTransaction.new, child_index: "NEW_RECORD" do |entity_transaction_fields| %>
          <%= render "entity_transaction_fields", form: entity_transaction_fields %>
        <% end %>
      </template>

      <%= form.fields_for :entity_transactions do |entity_transaction_fields| %>
        <%= render "entity_transaction_fields", form: entity_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target='target'></div>

      <%= render ButtonComponent.new(options: { label: action_model(action_name, EntityTransaction), colour: :orange, data: { action: "nested-form#add" } }) %>
    </div>

    <%= render ButtonComponent.new form:, options: { label: "Submit" } %>
    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: :updateButton } %>
  <% end %>
<% end %>
