<%= turbo_frame_tag :center_container do %>
  <div class="w-full">
    <div class="min-w-full pt-2">
      <%= turbo_frame_tag :card_transactions do %>
        <div class="min-h-screen" data-controller="datatable">
          <div class="mb-6 flex gap-4 flex-wrap">
            <%= render "shared/month_year_selector", default_year: Date.current.year, years: @years, active_month_years: [ @active_month_year ], title: @user_card.user_card_name %>
          </div>

          <div class="mb-6 flex flex-col sm:flex-row gap-4 items-start sm:items-center justify-between bg-white p-4 rounded-lg shadow-sm">
            <div class="flex gap-4 flex-wrap">
              <%= text_field_tag :search, nil,
                                 type: :text, placeholder: "Search transactions...",
                                 class: "px-7 py-2 border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
                                 data: { action: "input->datatable#filter" } %>

              <%= select_tag :categories_search, options_for_select(@categories),
                             class: "px-7 py-2 border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
                             include_blank: "All Categories",
                             data: { action: "change->datatable#filterCategory" } %>
 
              <%= select_tag :entities_search, options_for_select(@entities),
                             class: "px-7 py-2 border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
                             include_blank: "All Entities",
                             data: { action: "change->datatable#filterEntity" } %>
            </div>

            <%= link_to "New Card Transaction",
                        new_card_transaction_path(format: :turbo_stream),
                        class: "px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-800 transition-colors",
                        data: { turbo_frame: :center_container, turbo_prefetch: false } %>
          </div>

          <%= turbo_frame_tag :month_year_container, data: { user_card_id: @user_card.id } do %>
            <%= turbo_frame_tag "month_year_container_#{@active_month_year}", src: month_year_card_transactions_path(month_year: @active_month_year, user_card_id: @user_card.id) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
