<%= turbo_frame_tag :center_container do %>
  <div class="w-full">
    <div class="flex justify-between items-center">
      <h1 class="text-white font-bold text-4xl">Card Transactions</h1>

      <%= link_to "New Card Transaction",
                  new_card_transaction_path(format: :turbo_stream),
                  class: "rounded-lg py-3 px-5 bg-blue-600 shadow-sm block font-medium",
                  data: { turbo_frame: :center_container, turbo_prefetch: false } %>
    </div>

    <div class="min-w-full pt-2">
      <%= turbo_frame_tag :card_transactions do %>
        <hr>
        <h1 id="card_transaction_user_card_name" class="font-bold text-black text-5xl text-center p-2">
          <%= @user_card&.user_card_name %>
        </h1>
        <hr>

        <%= render "card_transactions/card" %>
      <% end %>
    </div>
  </div>
<% end %>
