<%= turbo_frame_tag dom_id cash_installment do %>
  <% cash_transaction = cash_installment.cash_transaction %>

  <% solid_colour_or_gradient = cash_transaction.categories.first&.bg_colour %>
  <% if cash_transaction.categories.count > 1 %>
    <% solid_colour_or_gradient = [ cash_transaction.categories.first.from_bg, *cash_transaction.categories[1..-2].map(&:via_bg), cash_transaction.categories.last.to_bg ].join(" ") %>
  <% end %>

  <%= content_tag :div,
                  class: "grid grid-cols-8 border-b border-slate-200 bg-gradient-to-r #{solid_colour_or_gradient} hover:opacity-60",
                  draggable: true,
                  data: { id: cash_installment.id, datatable_target: :row, action: "dragstart->datatable#start dragover->datatable#activate drop->datatable#drop" } do %>

    <%= content_tag :div, class: "flex items-center justify-between gap-2 rounded-sm text-slate-900 mx-auto" do %>
      <% case [ cash_installment.paid, cash_installment.date > Date.current ]
         in [ true,  _     ] then [ false, :check_square ]
         in [ false, false ] then [ true,  :warning_octagon ]
         in [ false, true  ] then [ true,  :x_circle ]
         end => shoud_display_link_to_pay, icon %>
      <% if shoud_display_link_to_pay %>
        <%= link_to render_icon(icon),
                    pay_cash_installment_cash_transaction_path(id: cash_installment, balance: cash_installment.balance, format: :turbo_stream),
                    class: "hover:bg-white hover:text-honda hover:rounded-full hover:scale-160",
                    title: model_attribute(cash_installment, :pay), data: { turbo_method: :post } %>
      <% else %>
        <%= content_tag :span, render_icon(icon), title: model_attribute(cash_installment, :already_paid), class: "hover:bg-white hover:text-money hover:rounded-sm hover:scale-160" %>
      <% end %>

      <%= content_tag :span, l(cash_installment.date, format: :shorter) %>
    <% end %>

    <div class="col-span-3 flex-1 flex items-center justify-between gap-1 min-w-0 mx-2 underline">
      <%= link_to cash_transaction.description, edit_cash_transaction_path(cash_transaction),
                  id: "edit_cash_transaction_#{cash_transaction.id}",
                  class: "flex-1 truncate text-md",
                  data: { turbo_frame: :center_container } %>

      <%= content_tag :span,
                      pretty_installments(cash_installment.number, cash_installment.cash_installments_count),
                      class: "p-1 rounded-sm bg-white border border-black flex-shrink-0 #{'opacity-40' if cash_installment.cash_installments_count == 1}" %>
    </div>

    <%= content_tag :div, class: "py-2 flex items-center justify-center gap-2", data: { datatable_target: :category, id: cash_transaction.categories.map(&:id) } do %>
      <% cash_transaction.categories.each do |category| %>
        <%= content_tag :span, class: "px-2 py-1 flex items-center justify-center rounded-sm bg-transparent border-1 border-black text-sm" do %>
          <%= category.category_name %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "py-2 flex items-center justify-center flex-wrap gap-2", data: { datatable_target: :entity, id: cash_transaction.entities.map(&:id) } do %>
      <% cash_transaction.entities.each do |entity| %>
        <span class="px-4 rounded-full text-sm bg-purple-100 text-slate-800 border-1 border-black">
          <%= entity.entity_name %>
        </span>
      <% end %>
    <% end %>

    <div class="py-2 flex items-center justify-center font-lekton font-bold whitespace-nowrap ml-auto">
      <%= from_cent_based_to_float(cash_installment.price, "R$") %>
    </div>

    <div class="py-2 px-2 flex items-center justify-center font-lekton font-bold whitespace-nowrap ml-auto">
      <%= from_cent_based_to_float(cash_installment.balance, "R$") %>
    </div>
  <% end %>
<% end %>
