<%= turbo_frame_tag dom_id cash_installment do %>
  <% cash_transaction = cash_installment.cash_transaction %>

  <%= content_tag :div,
                  class: "rounded-lg shadow-sm overflow-hidden #{cash_transaction.categories&.first&.bg_colour} my-2",
                  data: { id: cash_installment.id, datatable_target: :row } do %>

    <div class="p-4">
      <div class="flex items-center justify-between gap-4 w-full text-black text-sm font-semibold">
        <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
          <% if cash_transaction.investment? %>
            <%= content_tag :span, cash_transaction.description, class: "truncate text-md" %>
          <% elsif cash_transaction.card_payment? %>
            <% default_year = cash_transaction.year %>
            <% active_month_years = "[#{Date.new(cash_transaction.year, cash_transaction.month).strftime('%Y%m')}]" %>

            <%= link_to cash_transaction.description,
                        card_transactions_path(user_card_id: cash_transaction.user_card_id, default_year:, active_month_years:, format: :turbo_stream),
                        class: "truncate text-md",
                        data: { turbo_frame: :center_container, turbo_prefetch: false } %>
          <% else %>
            <%= link_to cash_transaction.description, edit_cash_transaction_path(cash_transaction),
                        id: "edit_cash_transaction_#{cash_transaction.id}",
                        class: "truncate text-md",
                        data: { turbo_frame: :center_container } %>
          <% end %>

          <%= content_tag :span,
                          pretty_installments(cash_installment.number, cash_installment.cash_installments_count),
                          class: "p-1 rounded-sm bg-white border border-black flex-shrink-0 #{'opacity-40' if cash_transaction.cash_installments_count == 1}" %>
        </div>
      </div>

      <div class="flex items-center justify-between py-2">
        <div class="text-xs text-start flex-1">
          <%= content_tag :span, class: "flex items-center justify-start gap-2 rounded-sm text-slate-900 mx-auto" do %>
            <% icon = :check_square if cash_installment.paid %>
            <% icon ||= cash_installment.date > Date.current ? :warning_octagon : :x_circle %>
            <%= render_icon icon %>
            <%= l(cash_installment.date, format: :shorter) %>
          <% end %>
        </div>

        <div class="whitespace-nowrap">
          <%= from_cent_based_to_float(cash_installment.price, "R$") %>
        </div>
      </div>

      <%= content_tag :div, class: "flex items-center justify-between gap-2" do %>
        <%= content_tag :div, class: "flex justify-between gap-2", data: { datatable_target: :category, id: cash_transaction.categories.map(&:id) } do %>
          <% cash_transaction.categories.each do |category| %>
            <%= content_tag :span, category.category_name, class: "py-1 rounded-full text-xs font-medium underline underline-offset-[3px]" %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: "flex justify-between gap-2", data: { datatable_target: :entity, id: cash_transaction.entities.map(&:id) } do %>
          <% cash_transaction.entities.each do |entity| %>
            <%= content_tag :span, entity.entity_name, class: "px-2 py-1 rounded-full text-xs font-medium bg-slate-100 text-black border border-1 border-gray-500" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= from_cent_based_to_float(cash_installment.balance, "R$") %>
