<%= content_tag :div, class: "rounded-lg shadow-sm overflow-hidden my-3 bg-slate-100", data: { id: user_card.id, datatable_target: :row } do %>
  <div class="p-4 bg-gradient-to-r from-blue-500 to-blue-700">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <%= render "shared/svgs/credit_card" %>
        <% brand_name = user_card.card.card_name %>
        <% brand_and_name = brand_name == user_card.user_card_name ? brand_name : "#{brand_name} - #{user_card.user_card_name}" %>

        <%= content_tag :span, brand_and_name, class: "text-lg font-semibold text-black" %>
      </div>

      <%= link_to card_transactions_path(user_card_id: user_card.id, format: :turbo_stream), data: { turbo_frame: :center_container } do %>
        <%= render "shared/svgs/jump_to" %>
      <% end %>
    </div>
  </div>

  <div class="p-4">
    <div class="grid grid-cols-2 gap-4 my-2">
      <div class="space-y-1">
        <div class="flex items-center space-x-2">
          <%= render "shared/svgs/number" %>
          <%= content_tag :span, pluralise_model(CardTransaction, 2), class: "text-sm font-medium text-slate-500" %>
        </div>

        <div class="flex items-center">
          <%= content_tag :span, user_card.card_transactions_count, class: "text-sm font-semibold text-slate-800" %>
        </div>
      </div>

      <div class="space-y-1">
        <div class="flex items-center space-x-2">
          <%= render "shared/svgs/money" %>
          <%= content_tag :span, model_attribute(CardTransaction, :total_amount), class: "text-sm font-medium text-slate-500" %>
        </div>

        <div class="flex items-center">
          <%= content_tag :span, from_cent_based_to_float(user_card.card_transactions_total, "R$"), class: "text-sm font-semibold text-slate-800 mr-auto" %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-2">
      <div class="space-y-1">
        <div class="flex items-center space-x-2">
          <%= render "shared/svgs/calendar" %>
          <%= content_tag :span, model_attribute(UserCard, :current_closing_date), class: "text-sm font-medium text-slate-500" %>
        </div>

        <div class="flex items-center">
          <%= content_tag :span, l(user_card.current_closing_date, format: :short) %>
        </div>
      </div>

      <div class="space-y-1">
        <div class="flex items-center space-x-2">
          <%= render "shared/svgs/calendar" %>
          <%= content_tag :span, model_attribute(UserCard, :current_due_date), class: "text-sm font-medium text-slate-500" %>
        </div>

        <div class="flex items-center">
          <%= content_tag :span, l(user_card.current_due_date, format: :short) %>
        </div>
      </div>
    </div>

    <details>
      <%= content_tag :summary, t(:datatable_actions), class: "flex items-center justify-between py-2" %>

      <%= content_tag :div, class: "flex justify-between py-2" do %>
        <div class="flex items-center gap-3 ml-auto text-gray-900">
          <%= link_to edit_user_card_path(user_card), id: "edit_user_card_#{user_card.id}", data: { turbo_frame: :center_container } do %>
            <%= render "shared/svgs/pencil" %>
          <% end %>

          <%= link_to user_card, id: "delete_user_card_#{user_card.id}", data: { turbo_method: :delete } do %>
            <%= render "shared/svgs/rubbish" %>
          <% end %>
        </div>
      <% end %>
    </details>
  </div>
<% end %>
