<% exchange = form.object %>

<div class="nested-exchange-wrapper" data-entity-transaction-target="exchangeWrapper">
  <%= form.hidden_field :id %>
  <%= form.hidden_field :_destroy %>
  <%= form.hidden_field :exchange_type, id: "exchange_exchange_type_#{form.index}", value: exchange.exchange_type || :monetary %>

  <div class="flex w-full my-1">
    <div class="flex w-2/5">
      <span class="inline-flex items-center text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md w-full">
        <span class="flex items-center text-sm font-medium text-black ps-2">
          <span class="flex w-3 h-3 bg-orange-500 rounded-full me-2 flex-shrink-0"></span>
          <span class="exchange_month_year font-victor font-semibold text-orange-950" data-entity-transaction-target="monthYearExchange">
            <%= exchange.cash_transaction&.month_year %>
          </span>
        </span>
      </span>
    </div>

    <div class="flex w-1/5 mx-auto">
      <label class="flex justify-center items-center text-sm text-gray-900 bg-gray-200 border border-gray-300 w-full cursor-pointer mx-auto">
        <%= checkbox_tag "exchange_exchange_type_#{form.index}", :monetary,
                         class: "sr-only peer",
                         checked: exchange.new_record? || exchange.exchange_type == :monetary,
                         data: { action: "click->entity-transaction#toggleExchangeType", form_index: form.index } %>

        <div class="relative w-11 h-6 bg-gray-600 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
      </label>
    </div>

    <div class="flex w-2/5 font-graduate">
      <%= form.text_field \
            :price,
            class: "price-input rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5",
            data: { entity_transaction_target: :priceExchangeInput, action: "input->price-mask#applyMask" } %>
    </div>
  </div>

  <%= form.hidden_field :number, class: :exchange_number %>

  <%= link_to nil, nil, class: :hidden, data: { entity_transaction_target: "delExchange", action: "nested-form#remove" } %>
</div>
