<%= form_for resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false, controller: :form }, html: { method: :put } do |f| %>
  <%= render "devise/shared/error_messages", resource: %>

  <div class="mb-6 text-blue-700">
    <%= render Components::TextField.new(f, :email, type: :email, svg: :email, autofocus: true, placeholder: model_attribute(resource, :email)) %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <%= content_tag :div, t(:waiting_confirmation, email: resource.unconfirmed_email) %>
  <% end %>

  <div class="mb-6 text-blue-700">
    <%= render Components::TextField.new(f, :password, type: :password, svg: :key, placeholder: model_attribute(resource, :new_password)) %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render Components::TextField.new(f, :password_confirmation, type: :password, svg: :key, placeholder: model_attribute(resource, :new_password_confirmation)) %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render Components::TextField.new(f, :password, type: :password, svg: :key, placeholder: model_attribute(resource, :password)) %>
  </div>

  <div class="w-full">
    <%= render RubyUI::Button.new(type: :submit, size: :lg, variant: :purple) { action_message(:update) } %>
  </div>
<% end %>
