<% content_for(:auth_header) do %>
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Create your account</h2>
  <p class="mt-2 text-center text-sm text-gray-600">
    Have an account already?
    <%= link_to "Log in", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  </p>
<% end %>

<%= form_for resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false, controller: "form-validate" } do |f| %>

  <%= render "devise/shared/error_messages", resource: %>

  <div class="mb-6 text-blue-700">
    <%= render TextFieldComponent.new(f, :first_name, svg: :user, placeholder: "First Name", autofocus: true) %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render TextFieldComponent.new(f, :last_name, svg: :user_group, placeholder: "Last Name") %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render TextFieldComponent.new(f, :email, type: :email, svg: :email, placeholder: "Email Address") %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render TextFieldComponent.new(f, :password, type: :password, svg: :key, placeholder: "Password") %>
  </div>

  <div class="mb-6 text-blue-700">
    <%= render TextFieldComponent.new(f, :password_confirmation, type: :password, svg: :key, placeholder: "Password Confirmation") %>

    <% if @minimum_password_length %>
      <span class="text-xxs font-graduate text-gray-500">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
  </div>

  <div>
    <%= render ButtonComponent.new(form: f, options: { label: "Sign up" }) %>
  </div>
<% end %>
