<%= turbo_frame_tag dom_id entity do %>
  <tr class="<%= Category::BG_COLOURS.to_a.sample[1] || "bg-black" %> border-b hover:bg-white border-gray-200 font-semibold text-md text-black">
    <th class="px-6 py-4 whitespace-nowrap border-x text-center" >
      <span class="inline-flex items-center px-1 rounded-sm bg-white text-blue-700">
        <%= entity.entity_name %>
        <%#= link_to entity.entity_name, card_transactions_path(entity_id: entity.id, format: :turbo_stream), data: { turbo_frame: :center_container, turbo_prefetch: false } %>
      </span>
    </th>
    <th class="px-6 py-4 whitespace-nowrap border-x text-right font-mono" >
      <%= "colour" %>
    </td>
    <th class="px-6 py-4 whitespace-nowrap border-x text-right font-mono" >
      <%= 1000 %>
    </td>
    <th class="px-6 py-4 whitespace-nowrap border-x text-right font-mono" >
      <%= from_cent_based_to_float(1000, "R$") %>
    </td>
    <th class="px-6 py-4 whitespace-nowrap" >
      <div class="flex items-center justify-between px-2 my-1 rounded-md bg-white">
        <%= link_to edit_entity_path(entity), class: "text-blue-600", data: { turbo_frame: :center_container } do %>
          <%= render "shared/svgs/cog" %>
        <% end %>

        <%= link_to entity, class: "text-red-600", data: { turbo_method: :delete } do %>
          <%= render "shared/svgs/destroy" %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
