<%= turbo_frame_tag dom_id entity do %>
  <%= form_with(model: entity, id: :form, class: "contents text-black", data: { controller: "form-validate reactive-form", action: "submit->reactive-form#removeMasks" }) do |form| %>

    <%= form.hidden_field :user_id, value: @user.id %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :entity_name,
            class: outdoor_input_class, autofocus: true, autocomplete: :off,
            data: { reactive_form_target: :input, placeholder: "Entity Name", placeholder_type: :word } %>
    </div>

    <div>
      <%= bold_label(form, :active) %>
    </div>

    <div class="mb-3">
      <%= form.checkbox :active, class: "rounded-sm border-gray-300 text-indigo-600 focus:ring-indigo-500", checked: entity.new_record? || entity.active %>
    </div>

    <%= render ButtonComponent.new form:, options: { label: "Submit Entity" } %>
    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: :updateButton } %>
  <% end %>
<% end %>
