<%= content_tag :div,
                class: "grid grid-cols-6 gap-2 border-b border-slate-200 #{cycle('bg-gray-100', 'bg-gray-200')} hover:bg-white",
                data: { id: user_bank_account.id, datatable_target: :row } do %>

    <div class="col-span-2 px-1 flex items-center mx-auto font-lekton font-semibold">
      <%= content_tag :span, user_bank_account.pretty_label, class: "user_bank_account_description px-4 whitespace-nowrap" %>
    </div>

    <div class="jump_to_cash_transactions px-1 flex items-center justify-center mx-auto font-anonymous font-semibold whitespace-nowrap ml-auto">
      <% if user_bank_account.cash_transactions_count > 0 %>
        <%= link_to user_bank_account.cash_transactions_count,
                    cash_transactions_path(user_bank_account_id: user_bank_account.id, format: :turbo_stream),
                    class: "text-indigo-600 hover:underline",
                    data: { turbo_frame: :center_container, turbo_prefetch: false } %>
      <% else %>
        <%= content_tag :span, user_bank_account.cash_transactions_count %>
      <% end %>
    </div>

    <div class="flex items-center justify-center text-lg whitespace-nowrap ml-auto">
      <%= content_tag :span, from_cent_based_to_float(user_bank_account.cash_transactions_total, "R$") %>
    </div>

    <div class="flex items-center justify-center font-lekton text-lg whitespace-nowrap ml-auto">
      <%= content_tag :span, from_cent_based_to_float(user_bank_account.balance, "R$") %>
    </div>

    <div class="flex items-center justify-center">
      <div class="flex items-center justify-center px-2 my-1 rounded-md">
        <%= link_to edit_user_bank_account_path(user_bank_account),
                    id: "edit_user_bank_account_#{user_bank_account.id}",
                    class: "text-blue-600 hover:text-blue-800 mx-2 bg-sky-200 rounded-4xl",
                    data: { turbo_frame: :center_container } do %>
          <%= render_icon :pencil %>
        <% end %>

        <%= link_to user_bank_account,
                    id: "delete_user_bank_account_#{user_bank_account.id}",
                    class: "text-red-600 hover:text-red-800 mx-2 bg-rose-200 rounded-4xl",
                    data: { turbo_method: :delete, turbo_confirm: t("confirmation.sure") } do %>
          <%= render_icon :destroy %>
        <% end %>
      </div>
    </div>
  <% end %>
