<%= turbo_frame_tag dom_id budget do %>

  <%= content_tag :div,
                  class: "grid grid-cols-8 border-b border-slate-200 bg-indigo-950 text-slate-100 hover:opacity-80 #{'animate-pulse' if budget.remaining_value >= budget.value / 5 }",
                  draggable: true,
                  data: { id: budget.id, datatable_target: :row, action: "dragstart->datatable#start dragover->datatable#activate drop->datatable#drop" } do %>

    <%= content_tag :div, class: "flex items-center justify-between gap-2 rounded-sm text-slate-100 mx-auto" do %>
      <%= content_tag :span, render_icon(:safe), title: pluralise_model(budget, 1) %>
      <%= content_tag :span, l(DateTime.new(budget.year, budget.month, 1).end_of_month, format: :shorter) %>
    <% end %>

    <div class="col-span-3 flex-1 flex items-center justify-between gap-1 min-w-0 mx-2 underline">
      <%= link_to budget.description, edit_budget_path(budget),
                  id: "edit_budget_#{budget.id}",
                  class: "flex-1 truncate text-md",
                  data: { turbo_frame: :center_container } %>

      <%= content_tag :span, from_cent_based_to_float(budget.value, "R$"), class: "p-1 flex-shrink-0" %>
    </div>

    <%= content_tag :div, class: "py-2 flex items-center justify-center gap-2", data: { datatable_target: :category, id: budget.categories.map(&:id) } do %>
      <% budget.categories.each do |category| %>
        <%= content_tag :span, class: "px-2 py-1 flex items-center justify-center rounded-sm #{category.bg_colour} border-1 border-white text-sm" do %>
          <%= category.category_name %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "py-2 flex items-center justify-center flex-wrap gap-2", data: { datatable_target: :entity, id: budget.entities.map(&:id) } do %>
      <% budget.entities.each do |entity| %>
        <span class="px-4 rounded-full text-sm bg-purple-100 text-slate-100 border-1 border-white">
          <%= entity.entity_name %>
        </span>
      <% end %>
    <% end %>

    <div class="py-2 flex items-center justify-center font-lekton font-bold whitespace-nowrap ml-auto">
      <%= from_cent_based_to_float(budget.remaining_value, "R$") %>
    </div>

    <div class="py-2 px-2 flex items-center justify-center font-lekton font-bold whitespace-nowrap ml-auto">
      <%= from_cent_based_to_float(budget.balance, "R$") %>
    </div>
  <% end %>
<% end %>
