<%= turbo_frame_tag dom_id budget do %>

  <%= content_tag :div,
                  class: "rounded-lg shadow-sm overflow-hidden bg-indigo-950 text-slate-100 my-2",
                  data: { id: budget.id, datatable_target: :row } do %>

    <div class="p-4">
      <div class="flex items-center justify-between gap-4 w-full text-slate-100 text-sm font-semibold">
        <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
          <%= link_to "#{pluralise_model(budget, 1)}: #{budget.description}",
                      edit_budget_path(budget),
                      id: "edit_budget_#{budget.id}",
                      class: "truncate text-md underline underline-offset-[3px]",
                      data: { turbo_frame: :center_container } %>

          <%= content_tag :span, from_cent_based_to_float(budget.value, "R$"), class: "p-1 rounded-sm bg-white text-black border border-black flex-shrink-0" %>
        </div>
      </div>

      <div class="flex items-center justify-between py-2">
        <div class="text-xs text-start flex-1">
          <%= content_tag :span, class: "flex items-center justify-start gap-2 rounded-sm text-slate-100 mx-auto" do %>
            <% case budget.remaining_value <=> budget.value
               when -1 then :x_circle
               when 0 then :warning_octagon
               when 1 then :check_square
               end => icon %>

            <%= render_icon icon %>
            <%= l(DateTime.new(budget.year, budget.month, 1).end_of_month, format: :shorter) %>
          <% end %>
        </div>

        <div class="whitespace-nowrap">
          <%= from_cent_based_to_float(budget.remaining_value, "R$") %>
        </div>
      </div>

      <%= content_tag :div, class: "flex items-center justify-between gap-2" do %>
        <%= content_tag :div, class: "flex justify-between gap-2", data: { datatable_target: :category, id: budget.categories.map(&:id) } do %>
          <% budget.categories.each do |category| %>
            <%= content_tag :span, category.category_name, class: "py-1 rounded-full text-xs font-medium underline underline-offset-[3px]" %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: "flex justify-between gap-2", data: { datatable_target: :entity, id: budget.entities.map(&:id) } do %>
          <% budget.entities.each do |entity| %>
            <%= content_tag :span, entity.entity_name, class: "px-2 py-1 rounded-full text-xs font-medium bg-purple-100 border border-1 border-gray-500" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= from_cent_based_to_float(budget.balance, "R$") %>
