<%= content_tag :div, class: "w-full", data: { controller: "month-year-selector", form_id: } do %>
  <%= text_field_tag :default_year, default_year, class: "hidden", data: { month_year_selector_target: "defaultYear" } %>
  <%= text_field_tag :active_month_years, active_month_years.to_json, class: "hidden", data: { month_year_selector_target: "monthYears" } %>

  <% years.each do |year| %>
    <%= content_tag :div, class: ("active" if year == default_year).to_s, data: { month_year_selector_target: "monthYearContainer", year: } do %>
      <div class="flex justify-between">
        <div class="flex items-center gap-4">
          <%= link_to "←", "#",
                      class: "p-2 rounded-lg bg-slate-100 hover:bg-slate-200 transition-colors #{'opacity-0 pointer-events-none' if year == years.first}",
                      data: { action: "click->month-year-selector#prevYear", year: } %>

          <%= content_tag :span, year, id: :month_year_selector_title, class: "text-lg font-bold rounded-sm shadow-sm bg-transparent border-1 border-purple-600 p-1" %>

          <%= link_to "→", "#",
                      class: "p-2 rounded-lg bg-slate-100 hover:bg-slate-200 transition-colors #{'opacity-0 pointer-events-none' if year == years.last}",
                      data: { action: "click->month-year-selector#nextYear", year: } %>
        </div>

        <div class="flex items-center gap-4">
          <%= yield %>
        </div>
      </div>

      <%= content_tag :div, class: "grid 2xl:grid-cols-12 xl:grid-cols-6 lg:grid-cols-4 grid-cols-3 pt-3 gap-2" do %>
        <% (1..12).each do |month| %>
          <% month_year = Date.new(year, month, 1).strftime("%Y%m").to_i %>
          <%= link_to "#", class: "w-full px-3 py-2 rounded-md shadow-sm font-medium text-lg hover:bg-blue-100 transition-colors",
                           data: { month_year_selector_target: "monthYear",
                                   action: "click->month-year-selector#toggleMonth",
                                   month_year:,
                                   active: active_month_years.include?(month_year) } do %>
            <%= content_tag :span, I18n.t("date.abbr_month_names")[month], class: "block sm:hidden pointer-events-none" %>
            <%= content_tag :span, I18n.t("date.month_names")[month], class: "hidden sm:block pointer-events-none" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
