<div data-controller="pwa-installation">
  <div class="flex items-start gap-4">
    <%= link_to t(:sign_out), destroy_user_session_path, data: { turbo_method: :delete } %>
    <%= button_tag class: "text-white bg-transparent rounded-sm scale-120", data: { pwa_installation_target: "installButton", action: "click->pwa-installation#install" } do %>
      <span class="pointer-events-none">
        <%= render_icon :install %>
      </span>
    <% end %>

    <%= link_to "", "/pwa/installation_instructions", hidden: true, data: { pwa_installation_target: "infoButton", action: "click->pwa-installation#openDialog", turbo_frame: :pwa_installation_instructions } %>

    <dialog data-pwa-installation-target="dialog" data-action="click->pwa-installation#clickOutside" class="p-4">
      <%= turbo_frame_tag :pwa_installation_instructions %>

      <%= link_to t("navigation.close"), "#", class: "bg-transparent", data: { action: "click->pwa-installation#closeDialog" } %>
    </dialog>
  </div>
</div>
