<%= turbo_frame_tag dom_id cash_transaction do %>
  <%= form_with(model: cash_transaction, id: :form, class: "contents text-black", data: { controller: "form-validate reactive-form", action: "submit->reactive-form#removeMasks" }) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= hidden_field_tag :category_colours, current_user.categories.to_h { |c| [ c.id, c.bg_colour ] }.to_json, disabled: true, data: { reactive_form_target: :categoryColours } %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :description,
            class: outdoor_input_class, autofocus: true, autocomplete: :off,
            data: { reactive_form_target: :input, placeholder: model_attribute(cash_transaction, :description_placeholder), placeholder_type: :word } %>
    </div>

    <div class="w-full mb-6">
      <%= render_icon :quote %>
      <%= form.text_area \
            :comment,
            class: "text-gray-500 px-4 pt-4 ps-9 w-full border-1 border-gray-400 shadow-lg rounded-lg focus:ring-transparent focus:outline-none caret-transparent",
            data: { controller: "text-area-autogrow", reactive_form_target: :input, placeholder: model_attribute(cash_transaction, :comment_placeholder), placeholder_type: :word } %>
    </div>

    <div class="lg:flex lg:gap-2 w-full mb-3">
      <div id="hw_cash_transaction_user_bank_account_id" class="hw-cb w-full lg:w-2/12 mb-3 wallet-icon">
        <%= form.combobox \
              :user_bank_account_id,
              @user_bank_accounts,
              mobile_at: "360px",
              include_blank: false,
              placeholder: model_attribute(cash_transaction, :user_bank_account_id),
              data: { reactive_form_target: :input, action: "hw-combobox:selection->reactive-form#requestSubmit", value: ".hw-combobox__input" } %>
      </div>

      <div id="hw_cash_transaction_category_id" class="hw-cb w-full lg:w-2/12 mb-3 plus-icon">
        <%= form.combobox \
              :category_transaction,
              @categories,
              mobile_at: "360px",
              include_blank: false,
              placeholder: model_attribute(cash_transaction, :category_id),
              data: { action: "hw-combobox:selection->reactive-form#insertChip", value: ".hw-combobox__input" } %>
      </div>

      <div id="hw_cash_transaction_entity_id" class="hw-cb w-full lg:w-2/12 mb-3 user-icon">
        <%= form.combobox \
              :entity_transaction,
              @entities,
              mobile_at: "360px",
              include_blank: false,
              placeholder: model_attribute(cash_transaction, :entity_id),
              data: { action: "hw-combobox:selection->reactive-form#popModal", value: ".hw-combobox__input" } %>
      </div>

      <div class="w-full lg:w-3/12 mb-3 lg:mb-0">
        <%= render Components::TextFieldComponent.new \
              form, :date,
              id: :cash_transaction_date,
              type: "datetime-local", svg: :calendar,
              value: cash_transaction.date.strftime("%Y-%m-%dT%H:%M"),
              class: "font-graduate",
              data: { reactive_form_target: :dateInput, action: "change->reactive-form#updateInstallmentsDates" } %>
      </div>

      <div class="flex">
        <div class="w-2/3 lg:w-3/5 mb-3 lg:mb-0">
          <%= render Components::TextFieldComponent.new \
                form, :price,
                svg: :money,
                class: "font-graduate",
                data: { reactive_form_target: :priceInput, action: "input->reactive-form#applyMask input->reactive-form#updateInstallmentsPrices" } %>
        </div>

        <div class="w-1/3 lg:w-2/5">
          <%= render Components::TextFieldComponent.new \
                form, :cash_installments_count,
                type: :number,
                svg: :number,
                min: 1, max: 72,
                value: [ cash_transaction.cash_installments.size, cash_transaction.cash_installments_count, 1 ].max,
                class: "font-graduate",
                data: { reactive_form_target: :installmentsCountInput, action: "input->reactive-form#updateInstallmentsPrices" } %>
        </div>
      </div>
    </div>

    <!-- Installments -->
    <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper"
         class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-3 pb-3">
      <template data-nested-form-target="template">
        <%= form.fields_for :cash_installments, CashInstallment.new, child_index: "NEW_RECORD" do |installment_fields| %>
          <%= render "cash_transactions/installment_fields", form: installment_fields %>
        <% end %>
      </template>

      <%= form.fields_for :cash_installments do |installment_fields| %>
        <%= render "cash_transactions/installment_fields", form: installment_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target="target"></div>

      <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: :addInstallment, action: "nested-form#add" } %>
    </div>

    <!-- Categories -->
    <div id="categories_nested" data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper"
         class="grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-2 pb-2">
      <template data-nested-form-target="template">
        <%= form.fields_for :category_transactions, CategoryTransaction.new, child_index: "NEW_RECORD" do |category_transaction_fields| %>
          <%= render "cash_transactions/category_transaction_fields", form: category_transaction_fields %>
        <% end %>
      </template>

      <% category_transactions_association = cash_transaction.category_transactions.includes(:category) if cash_transaction.category_transactions.count > 1 %>
      <%= form.fields_for :category_transactions, category_transactions_association do |category_transaction_fields| %>
        <%= render "cash_transactions/category_transaction_fields", form: category_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target="target"></div>

      <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: :addCategory, action: "nested-form#add" } %>
    </div>

    <!-- Entities -->
    <div id="entities_nested" data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= form.fields_for :entity_transactions, EntityTransaction.new, child_index: "NEW_RECORD" do |entity_transaction_fields| %>
          <%= render "cash_transactions/entity_transaction_fields", form: entity_transaction_fields %>
        <% end %>
      </template>

      <% entity_transactions_association = cash_transaction.entity_transactions.includes(:entity) if cash_transaction.entity_transactions.count > 1 %>
      <%= form.fields_for :entity_transactions, entity_transactions_association do |entity_transaction_fields| %>
        <%= render "cash_transactions/entity_transaction_fields", form: entity_transaction_fields %>
      <% end %>

      <!-- inserted elements -->
      <div data-nested-form-target="target"></div>

      <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: :addEntity, action: "nested-form#add" } %>
    </div>

    <div class="w-2/5 flex items-center justify-between gap-2 mx-auto">
      <%= render Components::ButtonComponent.new form:, options: { label: action_model(:submit, cash_transaction) } %>
      <%= render Components::ButtonComponent.new link: cash_transaction,
                                                 options: { id: "delete_cash_transaction_#{cash_transaction.id}",
                                                            label: action_model(:destroy, cash_transaction),
                                                            colour: :red,
                                                            data: { turbo_method: :delete, turbo_confirm: t("confirmation.sure") } } %>
    </div>

    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: :updateButton } %>
  <% end %>
<% end %>
