<% installment = form.object %>

<div class="nested-form-wrapper" data-new-record="<%= installment.new_record? %>" data-reactive-form-target="installmentWrapper">
  <div class="flex w-full my-1">
    <div class="flex w-1/2">
      <span class="inline-flex items-center text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md w-full">
        <span class="flex items-center text-sm font-medium text-black ps-2">
          <span class="flex w-3 h-3 bg-orange-500 rounded-full me-2 flex-shrink-0"></span>
          <span class="installment_month_year font-victor font-semibold text-orange-950" data-reactive-form-target="monthYearInstallment">
            <%= installment.month_year if installment.month %>
          </span>
        </span>
      </span>
    </div>
    <div class="flex w-1/2 font-graduate">
      <%= form.text_field \
            :price,
            class: "price-input rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5",
            data: { reactive_form_target: "priceInstallmentInput", action: "input->reactive-form#applyMask" } %>
    </div>
  </div>

  <%= form.hidden_field :number, class: :installment_number %>
  <%= form.hidden_field :month, class: :installment_month %>
  <%= form.hidden_field :year, class: :installment_year %>
  <%= form.hidden_field :_destroy %>

  <%= link_to nil, nil, class: :hidden, data: { reactive_form_target: "delInstallment", action: "nested-form#remove" } %>
</div>
