<%= turbo_frame_tag :center_container do %>
  <div class="w-full">
    <div class="flex justify-between items-center">
      <h1 class="text-white font-bold text-4xl">Card Transactions</h1>

      <%= link_to "New Cash Transaction",
                  new_cash_transaction_path,
                  class: "rounded-lg py-3 px-5 bg-money border-black block font-medium",
                  data: { turbo_frame: :new_cash_transaction } %>
    </div>

    <%= turbo_frame_tag :new_cash_transaction %>

    <div class="min-w-full pt-2">
      <%= turbo_frame_tag :cash_transactions do %>
        <hr>
        <h1 class="font-bold text-black text-5xl text-center p-2"> PIX </h1>
        <hr>

        <%= render "cash_transactions/cash" %>
      <% end %>
    </div>
  </div>
<% end %>
