<div class="flex justify-between mb-6 bg-white p-4 shadow-md rounded-lg">
  <%= link_to action_model(:new, UserCard),
              new_user_card_path,
              class: "py-2 px-3 rounded-sm border border-sky-900 bg-blue-600 hover:bg-blue-800 transition-colors text-white shadow-lg font-thin",
              data: { turbo_frame: :center_container } %>

  <% include_inactive = params[:include_inactive] == "false" %>
  <%= link_to include_inactive ? action_message(:show_inactive) : action_message(:hide_inactive),
              user_cards_path(include_inactive:),
              class: "py-2 px-3 rounded-sm border border-sky-900 bg-blue-600 hover:bg-blue-800 transition-colors text-white shadow-lg font-thin",
              data: { turbo_frame: :center_container } %>
</div>

<div class="min-w-full">
  <%= turbo_frame_tag :user_cards do %>
    <div class="min-h-screen" data-controller="datatable">
      <%= text_field_tag :search, nil,
                         type: :text, placeholder: "#{action_message(:search)}...",
                         class: "w-full border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
                         data: { action: "input->datatable#filter" } %>

      <div class="my-4" data-datatable-target="table">
        <div class="bg-slate-300 rounded-lg border-1 border-slate-300 shadow-sm overflow-hidden">
          <div class="grid grid-cols-9 py-1 border-b border-slate-400 rounded-t-lg font-semibold text-black font-graduate">
            <div class="col-span-2"></div>
            <%= content_tag :div, pluralise_model(CardTransaction, 2), class: "text-center col-span-2 text-slate-600" %>
            <div class="col-span-5"></div>
          </div>

          <div class="grid grid-cols-9 py-1 gap-1 border-b border-slate-400 rounded-t-lg font-semibold text-black font-graduate">
            <%= content_tag :div, model_attribute(UserCard, :user_card_name), class: "col-span-2 text-center" %>
            <%= content_tag :div, model_attribute(UserCard, :count), class: "text-center" %>
            <%= content_tag :div, model_attribute(UserCard, :spent), class: "text-center" %>
            <%= content_tag :div, model_attribute(UserCard, :closing_date), class: "text-end text-lime-800 pr-2" %>
            <%= content_tag :div, model_attribute(UserCard, :due_date), class: "text-start text-red-800" %>
            <%= content_tag :div, model_attribute(UserCard, :min_spend), class: "text-end" %>
            <%= content_tag :div, model_attribute(UserCard, :credit_limit), class: "text-end" %>

            <%= content_tag :div, t(:datatable_actions), class: "text-center" %>
          </div>

          <% if @user_cards.present? %>
            <%= render @user_cards %>
          <% else %>
            <%= content_tag :div, class: "border-b border-slate-200 py-2 my-2 text-lg" do %>
              <%= t(:rows_not_found) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
