<div class="w-full">
  <div class="min-w-full">
    <%= turbo_frame_tag :user_cards do %>
      <div class="min-h-screen" data-controller="datatable">
        <div class="p-3 mb-6 bg-white rounded-lg shadow-sm grid grid-cols-1 gap-2">
          <% include_inactive = params[:include_inactive] == "false" %>
          <%= link_to include_inactive ? action_message(:show_inactive) : action_message(:hide_inactive),
                      user_cards_path(include_inactive:),
                      class: "p-1 rounded-sm border border-slate-700 bg-sky-500 hover:bg-blue-400 transition-colors text-white shadow-lg font-thin",
                      data: { turbo_frame: :center_container } %>

          <%= text_field_tag :search, nil,
                             type: :text, placeholder: "#{action_message(:search)}...",
                             class: "w-full border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
                             data: { action: "input->datatable#filter" } %>
        </div>

        <div class="mb-8" data-datatable-target="table">
          <%= render @user_cards %>
        </div>
      </div>

      <%= link_to new_user_card_path,
                  style: "margin: 30px",
                  class: "fixed bottom-0 right-0 bg-blue-600 text-white rounded-full shadow-lg flex items-center justify-center z-50 active:scale-95 transition-transform",
                  data: { turbo_frame: :center_container } do %>
        <%= render_icon :bigger_plus %>
      <% end %>
    <% end %>
  </div>
</div>
