<%= turbo_frame_tag dom_id card_installment do %>
  <% card_transaction = card_installment.card_transaction %>

  <% solid_colour_or_gradient = card_transaction.categories.first&.bg_colour %>
  <% if card_transaction.categories.count > 1 %>
    <% solid_colour_or_gradient = [ card_transaction.categories.first.from_bg, *card_transaction.categories[1..-2].map(&:via_bg), card_transaction.categories.last.to_bg ].join(" ") %>
  <% end %>

  <%= content_tag :div,
                  class: "grid grid-cols-8 border-b border-slate-200 bg-gradient-to-r #{solid_colour_or_gradient} hover:opacity-60",
                  draggable: true,
                  data: { id: card_installment.id, datatable_target: :row, action: "dragstart->datatable#start dragover->datatable#activate drop->datatable#drop" } do %>

    <div class="p-2 flex items-center justify-between">
      <div class="flex items-center justify-between">
        <%= checkbox_tag :checkbox, false, false, id: "checkbox_#{card_installment.id}", class: "border-gray-300 focus:ring-blue-500 focus:ring-2 rounded-sm shadow-sm" %>

        <span class="ml-2 cursor-move">↕</span>
      </div>
      <%= content_tag :span, l(card_installment.date, format: :shorter), class: "px-1 rounded-sm text-slate-900 mx-auto" %>
    </div>

    <div class="col-span-3 flex-1 flex items-center justify-between gap-1 min-w-0 mx-2">
      <% if @user_card_id.nil? %>
        <%= link_to card_transaction.user_card.user_card_name,
                    card_transactions_path(user_card_id: card_transaction.user_card_id, format: :turbo_stream),
                    class: "px-2 py-1 flex items-center justify-center rounded-sm bg-blue-950 border-1 border-slate-200 text-slate-200",
                    data: { turbo_frame: :center_container, turbo_prefetch: false } %>
      <% end %>

      <%= content_tag :span, card_transaction.description, class: "flex-1 truncate text-md" %>
      <% if card_installment.card_installments_count > 0 %>
        <% installments_content = [ format("%02d", card_installment.number), format("%02d", card_installment.card_installments_count) ].join("/") %>
        <%= content_tag :span, installments_content, class: "px-1 rounded-sm bg-white border border-black flex-shrink-0 #{'opacity-20' if card_transaction.card_installments_count == 1}" %>
      <% end %>
    </div>

    <%= content_tag :div, class: "py-2 flex items-center justify-center gap-2", data: { datatable_target: :category, id: card_transaction.categories.map(&:id) } do %>
      <% card_transaction.categories.each do |category| %>
        <%= content_tag :span, class: "px-2 py-1 flex items-center justify-center rounded-sm bg-transparent border-1 border-black text-sm" do %>
          <%= category.category_name %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "py-2 flex items-center justify-center flex-wrap gap-2", data: { datatable_target: :entity, id: card_transaction.entities.map(&:id) } do %>
      <% card_transaction.entities.each do |entity| %>
        <span class="px-4 rounded-full text-sm bg-purple-100 text-slate-800 border-1 border-black">
          <%= entity.entity_name %>
        </span>
      <% end %>
    <% end %>

    <div class="py-2 flex items-center justify-center font-lekton font-bold whitespace-nowrap ml-auto">
      <%= from_cent_based_to_float(card_installment.price, "R$") %>
    </div>

    <div class="py-2 flex items-center justify-center">
      <div class="flex items-center justify-center px-2 my-1 rounded-md">
        <%= link_to edit_card_transaction_path(card_transaction),
                    id: "edit_card_transaction_#{card_transaction.id}",
                    class: "text-blue-600 hover:text-blue-800 m-2 bg-white rounded-4xl",
                    data: { turbo_frame: :center_container } do %>
          <%= render "shared/svgs/pencil" %>
        <% end %>

        <%= link_to card_transaction,
                    id: "delete_card_transaction_#{card_transaction.id}",
                    class: "text-red-600 hover:text-red-800 m-2 bg-white rounded-4xl",
                    data: { turbo_method: :delete } do %>
          <%= render "shared/svgs/destroy" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
