<%= turbo_frame_tag dom_id user_bank_account do %>
  <%= form_with(model: user_bank_account, id: :form, class: "contents text-black", data: { controller: "form-validate reactive-form" }) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :user_bank_account_name,
            class: outdoor_input_class, autofocus: true, autocomplete: :off,
            data: { controller: "blinking-placeholder", text: model_attribute(user_bank_account, :user_bank_account_name) } %>
    </div>

    <div class="lg:flex lg:gap-2 w-full mb-3">
      <div id="hw_user_bank_account_bank_id" class="hw-cb w-full lg:w-4/12 bank-icon">
        <%= bold_label(form, :bank_id, "user_bank_account_bank_id") %>
        <%= form.combobox \
              :bank_id,
              @banks,
              mobile_at: "360px",
              include_blank: false,
              placeholder: action_attribute(:select, user_bank_account, :bank_id) %>
      </div>

      <div class="w-full lg:w-4/12">
        <%= bold_label(form, :agency_number) %>
        <%= render Components::TextFieldComponent.new \
              form, :agency_number,
              type: :number,
              svg: :number,
              min: 1, max: 9999,
              class: "font-graduate" %>
      </div>

      <div class="w-full lg:w-4/12">
        <%= bold_label(form, :account_number) %>
        <%= render Components::TextFieldComponent.new \
              form, :account_number,
              type: :number,
              svg: :number,
              min: 1, max: 999_999_999,
              class: "font-graduate" %>
      </div>
    </div>

    <%= bold_label(form, :active) %>

    <div class="mb-3">
      <%= form.checkbox :active, class: "rounded-sm border-gray-300 text-indigo-600 focus:ring-indigo-500", checked: user_bank_account.new_record? || user_bank_account.active %>
    </div>

    <%= render Components::ButtonComponent.new form:, options: { label: action_model(:submit, user_bank_account) } %>
    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: :updateButton } %>
  <% end %>
<% end %>
