<%= content_tag :div,
                class: "rounded-lg shadow-sm overflow-hidden #{category.bg_colour} my-2",
                data: { id: category.id, datatable_target: :row } do %>

  <div class="p-4">
    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm">
      <%= checkbox_tag :checkbox, false, false, id: "checkbox_#{category.id}", class: "shrink-0 w-4 h-4 rounded-full border-slate-300" %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, category.category_name, class: "truncate text-md font-semibold" %>
      </div>

      <%= content_tag :span, category.colour, class: "h-6 px-2 text-normal rounded-lg border-1 #{category.bg_colour} #{category.text_colour}" %>
    </div>

    <hr class="my-2">

    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm font-semibold">
      <%= link_to card_transactions_path(category_id: category.id, format: :turbo_stream),
                  class: "shrink-0 w-4 h-4 mb-3 mr-1 rounded-full border-slate-300 shadow-lg #{'opacity-0' if category.card_transactions_count.zero?}",
                  data: { turbo_frame: :center_container } do %>
        <%= render "shared/svgs/jump_to" %>
      <% end %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, "#{category.card_transactions_count} Card Transactions", class: "truncate text-md" %>
      </div>

      <%= content_tag :span, from_cent_based_to_float(category.card_transactions_total, "R$"), class: "px-1 rounded-sm bg-white border border-black flex-shrink-0" %>
    </div>

    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm font-semibold">
      <%= link_to cash_transactions_path(category_id: category.id, format: :turbo_stream),
                  class: "shrink-0 w-4 h-4 mb-3 mr-1 rounded-full border-slate-300 shadow-lg #{'opacity-0' if category.cash_transactions_count.zero?}",
                  data: { turbo_frame: :center_container } do %>
        <%= render "shared/svgs/jump_to" %>
      <% end %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, "#{category.cash_transactions_count} Cash Transactions", class: "truncate text-md" %>
      </div>

      <%= content_tag :span, from_cent_based_to_float(category.cash_transactions_total, "R$"), class: "px-1 rounded-sm bg-white border border-black flex-shrink-0" %>
    </div>

    <%= content_tag :div, class: "flex justify-between py-2" do %>
      <div class="flex items-center gap-3 ml-auto">
        <%= link_to edit_category_path(category),
                    id: "edit_category_#{category.id}",
                    class: "text-white bg-blue-600 rounded-full shadow-lg",
                    data: { turbo_frame: :center_container } do %>
          <%= render "shared/svgs/pencil" %>
        <% end %>

        <%= link_to category,
                    id: "delete_category_#{category.id}",
                    class: "text-red-600 bg-white rounded-full shadow-lg",
                    data: { turbo_method: :delete } do %>
          <%= render "shared/svgs/destroy" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
