<div class="mb-8" data-datatable-target="table">
  <fieldset class="border border-slate-200 rounded-lg p-4 mb-4">
    <%= content_tag :legend, @month_year_str, class: "px-2 text-lg text-slate-800 text-start" %>

    <div class="bg-white rounded-lg border-1 border-slate-300 shadow-sm overflow-hidden">
      <div class="grid grid-cols-8 py-1 bg-slate-200 border-b border-slate-400 rounded-t-lg font-semibold text-black font-graduate">
        <%= content_tag :div, model_attribute(CashTransaction, :date), class: "p-3" %>
        <%= content_tag :div, model_attribute(CashTransaction, :description), class: "py-3 col-span-3" %>
        <%= content_tag :div, model_attribute(CashTransaction, :categories), class: "py-3" %>
        <%= content_tag :div, model_attribute(CashTransaction, :entities), class: "py-3" %>
        <%= content_tag :div, model_attribute(CashTransaction, :price), class: "py-3 text-end" %>
        <%= content_tag :div, model_attribute(CashTransaction, :balance), class: "p-3 text-end" %>
      </div>

      <% if @cash_installments.present? || @budgets.present? %>
        <%= render @cash_installments %>
        <%= render partial: "budgets/budget", collection: @budgets, as: :budget %>
      <% else %>
        <%= content_tag :div, class: "border-b border-slate-200 py-2 my-2 text-lg" do %>
          <%= t(:rows_not_found) %>
        <% end %>
      <% end %>
    </div>
  </fieldset>
</div>
