<%= turbo_frame_tag dom_id user_card do %>
  <%= form_with(model: user_card, id: :form, class: "contents text-black", data: { controller: "form-validate reactive-form price-mask", action: "submit->price-mask#removeMasks" }) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="w-full mb-6">
      <%= form.text_field \
            :user_card_name,
            class: outdoor_input_class, autofocus: true, autocomplete: :off,
            data: { controller: "blinking-placeholder", text: model_attribute(user_card, :user_card_name) } %>
    </div>

    <div class="lg:flex lg:gap-2 w-full mb-3">
      <div id="hw_user_card_card_id" class="hw-cb w-full lg:w-3/12 mb-2 wallet-icon">
        <%= bold_label(form, :card_id, "user_card_card_id") %>
        <%= form.combobox \
              :card_id,
              @cards,
              mobile_at: "360px",
              render_in: { partial: "user_cards/card" },
              include_blank: false,
              placeholder: action_attribute(:select, user_card, :card_id) %>
      </div>

      <div class="w-full lg:w-3/12 mb-2">
        <%= bold_label(form, :current_closing_date) %>
        <%= render Components::TextFieldComponent.new \
              form, :current_closing_date,
              type: :date, svg: :calendar,
              class: "font-graduate",
              min: Date.current.prev_month.beginning_of_month.strftime("%Y-%m-%d"),
              max: Date.current.next_month.end_of_month.strftime("%Y-%m-%d"),
              value: @user_card.calculate_reference_date(Date.current) - @user_card.days_until_due_date
            %>
      </div>

      <div class="w-full lg:w-3/12 mb-2">
        <%= bold_label(form, :current_due_date) %>
        <%= render Components::TextFieldComponent.new \
              form, :current_due_date,
              type: :date, svg: :calendar,
              class: "font-graduate",
              min: Date.current.prev_month.beginning_of_month.strftime("%Y-%m-%d"),
              max: Date.current.next_month.end_of_month.strftime("%Y-%m-%d"),
              value: @user_card.calculate_reference_date(Date.current)
            %>
      </div>

      <div class="w-full lg:w-2/12 mb-2">
        <%= bold_label(form, :min_spend) %>
        <%= render Components::TextFieldComponent.new \
              form, :min_spend,
              svg: :money,
              class: "font-graduate",
              data: { price_mask_target: :input, action: "input->price-mask#applyMask" } %>
      </div>

      <div class="w-full lg:w-2/12 mb-2">
        <%= bold_label(form, :credit_limit) %>
        <%= render Components::TextFieldComponent.new \
              form, :credit_limit,
              svg: :money,
              class: "font-graduate",
              data: { price_mask_target: :input, action: "input->price-mask#applyMask" } %>
      </div>
    </div>

    <%= bold_label(form, :active) %>

    <div class="mb-3">
      <%= form.checkbox :active, class: "rounded-sm border-gray-300 text-indigo-600 focus:ring-indigo-500", checked: user_card.new_record? || user_card.active %>
    </div>

    <%= render Components::ButtonComponent.new form:, options: { label: action_model(:submit, user_card) } %>
    <%= form.submit "Update", class: "opacity-0 pointer-events-none", data: { reactive_form_target: :updateButton } %>
  <% end %>
<% end %>
