<%= content_tag :div,
                class: "grid grid-cols-7 border-b border-slate-200 #{cycle('bg-gray-100', 'bg-gray-200')} hover:bg-white",
                data: { id: entity.id, datatable_target: :row } do %>

    <div class="col-span-2 px-1 flex items-center justify-between font-lekton font-semibold">
      <%= image_tag asset_path("avatars/#{entity.avatar_name}"), class: "w-6 h-6 rounded-full" %>
      <%= content_tag :span, entity.entity_name, class: "px-4 whitespace-nowrap" %>
    </div>

    <div class="jump_to_card_transactions px-1 flex items-center justify-center font-anonymous font-semibold whitespace-nowrap text-md">
      <% if entity.card_transactions_count > 0 %>
        <%= link_to entity.card_transactions_count,
                    search_card_transactions_path(card_transaction: { entity_id: entity.id }, all_month_years: true, format: :turbo_stream),
                    class: "text-indigo-600 hover:underline",
                    data: { turbo_frame: :center_container, turbo_prefetch: false } %>
      <% else %>
        <%= content_tag :span, entity.card_transactions_count %>
      <% end %>
    </div>

    <div class="flex items-center justify-center font-lekton font-normal text-lg whitespace-nowrap">
      <%= content_tag :span, from_cent_based_to_float(entity.card_transactions_total, "R$") %>
    </div>

    <div class="jump_to_cash_transactions px-1 flex items-center justify-center font-anonymous font-semibold whitespace-nowrap text-md">
      <% if entity.cash_transactions_count > 0 %>
        <%= link_to entity.cash_transactions_count,
                    cash_transactions_path(entity_id: entity.id, format: :turbo_stream),
                    class: "text-indigo-600 hover:underline",
                    data: { turbo_frame: :center_container, turbo_prefetch: false } %>
      <% else %>
        <%= content_tag :span, entity.cash_transactions_count %>
      <% end %>
    </div>

    <div class="flex items-center justify-center font-lekton font-normal text-lg whitespace-nowrap">
      <%= content_tag :span, from_cent_based_to_float(entity.cash_transactions_total, "R$") %>
    </div>

    <div class="flex items-center justify-center">
      <div class="flex items-center justify-center px-2 my-1 rounded-md">
        <%= link_to edit_entity_path(entity),
                    id: "edit_entity_#{entity.id}",
                    class: "text-blue-600 hover:text-blue-800 mx-2 bg-sky-200 rounded-4xl",
                    data: { turbo_frame: :center_container } do %>
          <%= render_icon :pencil %>
        <% end %>

        <%= link_to entity,
                    id: "delete_entity_#{entity.id}",
                    class: "text-red-600 hover:text-red-800 mx-2 bg-rose-200 rounded-4xl",
                    data: { turbo_method: :delete, turbo_confirm: t("confirmation.sure") } do %>
          <%= render_icon :destroy %>
        <% end %>
      </div>
    </div>
  <% end %>
