<%= content_tag :div,
                class: "rounded-lg shadow-sm overflow-hidden bg-slate-100 my-2",
                data: { id: entity.id, datatable_target: :row } do %>

  <div class="p-4">
    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm">
      <%= checkbox_tag :checkbox, false, false, id: "checkbox_#{entity.id}", class: "shrink-0 w-4 h-4 rounded-full border-slate-300" %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, entity.entity_name, class: "truncate text-md font-semibold" %>
      </div>
    </div>

    <hr class="my-2">

    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm font-semibold">
      <%= link_to card_transactions_path(entity_id: entity.id, format: :turbo_stream),
                  class: "shrink-0 w-4 h-4 mb-3 mr-1 rounded-full border-slate-300 shadow-lg #{'opacity-0' if entity.card_transactions_count.zero?}",
                  data: { turbo_frame: :center_container, turbo_prefetch: false } do %>
        <%= render "shared/svgs/jump_to" %>
      <% end %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, "#{entity.card_transactions_count} Card Transactions", class: "truncate text-md" %>
      </div>

      <%= content_tag :span, from_cent_based_to_float(entity.card_transactions_total, "R$"), class: "px-1 rounded-sm bg-white border border-black flex-shrink-0" %>
    </div>

    <div class="flex items-center justify-between gap-3 w-full py-2 text-black text-sm font-semibold">
      <%= link_to cash_transactions_path(entity_id: entity.id, format: :turbo_stream),
                  class: "shrink-0 w-4 h-4 mb-3 mr-1 rounded-full border-slate-300 shadow-lg #{'opacity-0' if entity.cash_transactions_count.zero?}",
                  data: { turbo_frame: :center_container, turbo_prefetch: false } do %>
        <%= render "shared/svgs/jump_to" %>
      <% end %>

      <div class="flex-1 flex items-center justify-between gap-1 min-w-0">
        <%= content_tag :span, "#{entity.cash_transactions_count} Cash Transactions", class: "truncate text-md" %>
      </div>

      <%= content_tag :span, from_cent_based_to_float(entity.cash_transactions_total, "R$"), class: "px-1 rounded-sm bg-white border border-black flex-shrink-0" %>
    </div>

    <%= content_tag :div, class: "flex justify-between py-2" do %>
      <div class="flex items-center gap-3 ml-auto">
        <%= link_to edit_entity_path(entity),
                    id: "edit_entity_#{entity.id}",
                    class: "text-blue-600 hover:text-blue-800 m-2 bg-sky-200 rounded-4xl",
                    data: { turbo_frame: :center_container } do %>
          <%= render "shared/svgs/pencil" %>
        <% end %>

        <%= link_to entity,
                    id: "delete_entity_#{entity.id}",
                    class: "text-red-600 hover:text-red-800 m-2 bg-rose-200 rounded-4xl",
                    data: { turbo_method: :delete } do %>
          <%= render "shared/svgs/destroy" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
