<div class="flex justify-between mb-8">
  <%= link_to action_model(:newa, Category),
              new_category_path,
              class: "py-2 px-3 rounded-sm border border-sky-900 bg-blue-600 hover:bg-blue-800 transition-colors text-white shadow-lg font-thin",
              data: { turbo_frame: :center_container } %>

  <% include_inactive = params[:include_inactive] == "false" %>
  <%= link_to include_inactive ? action_message(:show_inactive) : action_message(:hide_inactive),
              categories_path(include_inactive:),
              class: "py-2 px-3 rounded-sm border border-sky-900 bg-blue-600 hover:bg-blue-800 transition-colors text-white shadow-lg font-thin",
              data: { turbo_frame: :center_container } %>
</div>

<div class="min-w-full pt-2">
  <%= turbo_frame_tag :categories do %>
    <div class="mb-8" data-datatable-target="table">
      <div class="bg-slate-300 rounded-lg border-1 border-slate-300 shadow-sm overflow-hidden">
        <div class="grid grid-cols-7 py-1 border-b border-slate-400 rounded-t-lg font-semibold text-black font-graduate">
          <div class="col-span-2"></div>
          <%= content_tag :div, pluralise_model(CardTransaction, 2), class: "text-center col-span-2 text-slate-600" %>
          <%= content_tag :div, pluralise_model(CashTransaction, 2), class: "text-center col-span-2 text-slate-600" %>
          <div></div>
        </div>

        <div class="grid grid-cols-7 py-1 border-b border-slate-400 rounded-t-lg font-semibold text-black font-graduate">
          <div></div>
          <%= content_tag :div, model_attribute(Category, :category_name), class: "text-center" %>
          <%= content_tag :div, model_attribute(Category, :count), class: "text-center" %>
          <%= content_tag :div, model_attribute(Category, :spent), class: "text-center" %>
          <%= content_tag :div, model_attribute(Category, :count), class: "text-center" %>
          <%= content_tag :div, model_attribute(Category, :spent), class: "text-center" %>

          <%= content_tag :div, t(:datatable_actions), class: "text-center" %>
        </div>

        <%= render @categories %>
      </div>
    </div>
  <% end %>
</div>
