<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= combobox_style_tag %>
  </head>

  <body class="h-screen bg-zinc-300 dark:bg-gray-900 text-black dark:text-white">
    <main class="antialiased">
      <div class="p-3">
        <%= turbo_frame_tag :notification do %>
          <%= render "shared/flash" %>
        <% end %>
        <%= render "shared/dark_mode" %>
      </div>

      <section class="container mx-auto mt-16 px-5 flex">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
