<!DOCTYPE html>
<html>
  <head>
    <title><%= t("pages.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/pwa_logos/ios/128.png" type="image/png">
    <link rel="apple-touch-icon" href="/pwa_logos/ios/512.png">

    <%= stylesheet_link_tag "tailwind", data: { turbo_track: :reload } %>
    <%= stylesheet_link_tag "application", data: { turbo_track: :reload } %>
    <%= stylesheet_link_tag "components/tom-select" %>
    <%= stylesheet_link_tag "components/select" %>
    <%= combobox_style_tag %>
    <%= javascript_include_tag "application", data: { turbo_track: :reload }, type: :module %>
  </head>

  <body class="h-screen bg-zinc-300 dark:bg-gray-900 text-black dark:text-white">
    <%= content_tag :main, class: "antialiased pt-4 max-w-auto max-w-[1420px] mx-auto" do %>
      <%= turbo_frame_tag :notification do %>
        <%= render "shared/flash" %>
      <% end %>
      <%= render "shared/dark_mode" %>

      <%= content_tag :section, class: "flex mt-10 min-h-svh" do %>
        <% yield %>
      <% end %>
    <% end %>
  </body>

  <footer class="bg-zinc-300 dark:bg-gray-900 text-black dark:text-white">
    <ul class="antialiased pt-4 max-w-auto max-w-[1420px] mx-auto">
      <li>
        <%= locale_link("pt-BR", class: "flex items-center justify-between px-4 py-2 text-sm text-white hover:bg-gray-600") do %>
          <span>Português</span>
          <%= image_tag "https://cdn.icon-icons.com/icons2/1694/PNG/512/brbrazilflag_111698.png", size: "25x15"  %>
        <% end %>
      </li>
      <li>
        <%= locale_link("en", class: "flex items-center justify-between px-4 py-2 text-sm text-white hover:bg-gray-600") do %>
          <span>English</span>
          <%= image_tag "https://static.vecteezy.com/system/resources/previews/005/416/914/original/flag-of-united-kingdom-illustration-free-vector.jpg", size: "25x15"  %>
        <% end %>
      </li>
    </ul>
  </footer>
</html>

<script>
  var queryString = window.location.search;
  var urlParams = new URLSearchParams(queryString);
  var locale = urlParams.get("locale")
  window.APP_LOCALE = locale || "<%= I18n.locale %>"
</script>
