<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-zinc-300 dark:bg-gray-900 text-black dark:text-white">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-48 w-auto" src="https://raw.githubusercontent.com/RickHPotter/finance.rb/main/public/sept_logo_candidates/IMG-20240113-WA0018.jpg" alt="Sept">
        <%= yield(:auth_header) if content_for?(:auth_header) %>
      </div>

      <div class="mt-8 xs:mx-auto xs:w-full xs:max-w-md">
        <div class="bg-white py-8 px-4 shadow xs:rounded-lg xs:px-10">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "shared/flash" %>
  </body>
</html>
