<!DOCTYPE html>
<html>
  <head>
    <title><%= t("pages.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/pwa_logos/ios/128.png" type="image/png">
    <link rel="apple-touch-icon" href="/pwa_logos/ios/512.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-300 dark:bg-gray-900 text-black dark:text-white">
    <div class="flex min-h-1.5 flex-col justify-center py-12 sm:px-6 md:px-8">
      <img class="mx-auto h-48 w-auto" src="https://raw.githubusercontent.com/RickHPotter/finance.rb/main/public/sept_logo_candidates/IMG-20240113-WA0018.jpg" alt="Sept">
      <%= yield(:auth_header) if content_for?(:auth_header) %>

      <div class="mt-10 sm:mx-auto sm:w-full md:max-w-md lg:scale-125">
        <div class="bg-white p-8 shadow-md rounded-lg xs:px-10">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag :notification do %>
      <%= render "shared/flash" %>
    <% end %>
  </body>
</html>
